h1 {
  margin: 20px;
}

body {
  background-color: #f5f2eb;
}

html, body {
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes spin {
  0%{
     transform: rotateX(-6deg) rotateY(-20deg);
  }
  50%{
      transform: rotateX(-6deg) rotateY(20deg);
  }
  100%{
     transform: rotateX(-6deg) rotateY(-20deg);
  }
}